@charset "UTF-8";

body {
    background-color: rgb(77, 114, 9);
    font-family: sans-serif;
}

h1 {
    color: rgb(208, 255, 0);
}

h1#principal {
    text-align: center;
    background: #000;
}

h2 {
    color: rgb(255, 208, 0);
}

.Básico {
    color: chocolate;
}

.Intermediário {
    color: blueviolet;
}

.Avançado {
    color: aqua;
}

p {
    text-align: justify;
    background: bisque;
}

.destaque {
    background-color: chartreuse;
    font-weight: bolder;
}