@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(src/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 20px;
}

a img{
    border-radius: 50%;
}
