@charset "UTF-8";

@font-face {
            font-family: 'Idroid';
            src: url("fontes/idroid.otf") format(opentype), url("fontes/idroid.otf") format(opentype);
            font-weight: normal;
            font-style: normal;
}

body {
    font-family: sans-serif;
    background-color: #84E1AD;
}

header {
    text-align: center;
    background-image: linear-gradient(to top,#195B38,#3CD782);
    color: white;
    padding: 10px;
    margin: auto;
}

header>h2 {
    font-weight: normal;
    font-size: 15px;
}

nav {
    text-align: left;
    padding: 10px;
}

nav>a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

a {
    color: #1b7949;
    text-decoration: none;
    font-weight: bold;
}

section > h1 {
    font-family: Idroid;
    font-weight: normal;
    color: #145533;
    background-image: linear-gradient(to right, #7affb894, transparent);
    padding: 5px;
}

main {
    padding-left: 100px;
    padding-right: 100px;
    background-color: white;
    margin: auto;
    width: 750px;
}

main>section {
    padding-top: 10px;
}

section#learn_more {
    background-color: #3CD782;
    border-radius: 15px;
}

section#learn_more>h1 {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to right, transparent, transparent);
    font-size: 20px;
    padding: 20px; 
    margin: 0px;
}

section#content {
    background-color: #88f5b9ab;
    padding: 5px 20px;
    border-radius: 15px;
}

section#content>ul {
    width: 200px;
    height: 150px;

}

section#content>p {
    text-align: justify;
    text-indent: 20px;
    font-size: 18px;
}
img {
    margin: auto;
}

div#Video {
    background-color: #145533;
    width: 750px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

div#Video>iframe {
    margin: auto;
    display: block;
    padding-top: 35px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #145533;
    color: white;
    padding: 10px;
    margin: auto;
}

footer>p {
    margin: 0px;
}

#robo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}