@charset "UTF-8";

* {
    font-family: sans-serif;
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #0D1F26;
}

h1 {
    color: #0D1F26;
    text-align: center;
    text-shadow: 1px 1px 2px #0d1f26d0;
}

h2 {
    color: #6382BF;
}

p {
    text-align: justify;
}

body {
    background-image: radial-gradient(circle,#5697A6,  #1A3540);
    background-attachment: fixed;
}